.span1
.span10
	.row-fluid
		.span4
			%ul.nav.nav-tabs
				%li.active
					%a Top Rating
				%li
					%a Brand New
				%li
					%a Promo
			#hot
				tes
		.span8
			.slider-wrapper.theme-default
				.ribbon
				#slider.nivoSlider
					= image_tag('toystory.jpg')
					= image_tag('up.jpg')
.span1
